In [3]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv("./data/Smarket.csv",index_col=[0])
print(df.shape)
df.head()

(1250, 9)

   Year   Lag1   Lag2   Lag3   Lag4   Lag5  Volume  Today Direction
1  2001  0.381 -0.192 -2.624 -1.055  5.010  1.1913  0.959        Up
2  2001  0.959  0.381 -0.192 -2.624 -1.055  1.2965  1.032        Up
3  2001  1.032  0.959  0.381 -0.192 -2.624  1.4112 -0.623      Down
4  2001 -0.623  1.032  0.959  0.381 -0.192  1.2760  0.614        Up
5  2001  0.614 -0.623  1.032  0.959  0.381  1.2057  0.213        Up

In [6]:
df.groupby("Direction").count()

           Year  Lag1  Lag2  Lag3  Lag4  Lag5  Volume  Today
Direction
Down        602   602   602   602   602   602     602    602
Up          648   648   648   648   648   648     648    648

In [7]:
train_n = int(np.ceil(len(df) * 0.8))

range_df = np.arange(len(df))

train_index = np.random.choice(range_df, ,replace = False)

In [11]:
train_index

276