아스키 코드

In [15]:
a = input()
# 문자열 -> 아스키코드
print(ord(a))

1

49

In [14]:
# 아스키코드 -> 문자열
chr(65)

'A'

In [ ]:
print(ord(input()))

숫자의 합

In [22]:
a = int(input())
b = input()
print(sum([int(b[i]) for i in range(a)]))

11
10987654321

46

In [23]:
# 문자열은 iterable하므로 map함수를 사용하여 각 인덱스에 함수 적용가능
input();print(sum(map(int,input())))

5
54321
15

알파벳 찾기

In [38]:
a = "abcdefghijklmnopqrstuvwxyz"
b = input()
c = []
for i in a:
    if i in b:
        c += [str(b.index(i))]
    else:
        c += [str(-1)]
print(" ".join(c))

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [39]:
string = input()
alphabet = "abcdefghijklmnopqrstuvwxyz"
for i in alphabet:
    print(string.find(i), end = ' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

문자열 반복

In [53]:
T = int(input())
for i in range(T):
    a, b = input().split()
    c = "".join([i*int(a) for i in b])
    print(c)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

단어 공부

In [90]:
import collections
T = input().upper()
try:
    most, better = collections.Counter(T).most_common()[:2]
    if most[1] == better[1]:
        print("?")
    else:
        print(most[0])
except ValueError:
    most = collections.Counter(T).most_common()[0]
    print(most[0])

Mississipi
?

In [92]:
s,a=input().lower(),[]
for i in range(97,123):
    a.append(s.count(chr(i)))
print('?'if a.count(max(a))>1 else chr(a.index(max(a))+97).upper())

aaaaa
A

단어의 개수

In [111]:
print(len(input().strip().split()))

Teullinika Teullyeotzi
2

In [108]:
import sys
s = sys.stdin.read().strip()
if not s:
    print("0")
else:
    print(len(s.split(" ")))

'fqefq'

상수

In [120]:
a, b = list(map(lambda x: int(x[::-1]), input().split(" ")))
print(max(a, b))

734 893

437

In [ ]:
a, b =input().split()

def reading(k):
    k = k[::-1]
    return int(k)

print(max([reading(a),reading(b)]))

다이얼

In [131]:
sentence = list(map(str, input()))
# 영어 -> 숫자
for ind, text in enumerate(sentence):
    if text in ["A", "B", "C"]:
        sentence[ind] = 2
    elif text in ["D", "E", "F"]:
        sentence[ind] = 3
    elif text in ["G", "H", "I"]:
        sentence[ind] = 4
    elif text in ["J", "K", "L"]:
        sentence[ind] = 5
    elif text in ["M", "N", "O"]:
        sentence[ind] = 6
    elif text in ["P", "Q", "R", "S"]:
        sentence[ind] = 7
    elif text in ["T", "U", "V"]:
        sentence[ind] = 8
    elif text in ["W", "X", "Y", "Z"]:
        sentence[ind] = 9
    else:
        sentence[ind] = 9
# 숫자 -> 시간
for ind, i in enumerate(sentence):
    if i == 0:
        sentence[ind] = 11
    else:
        sentence[ind] = i + 1
print(sum(sentence))

UNUCIC@$
56

In [ ]:
print(sum((ord(i)-62-(i in 'SVYZ')-(i=='Z'))//3+2 for i in input()))

크로아티아 알파벳

In [24]:
text = input()
text = text.replace("dz=", "z")
text = text.replace("lj", "l")
text = text.replace("nj", "n")
text = text.replace("=", "")
text = text.replace("-", "")
print(len(text))

2

In [50]:
c=input().count;print(c('')-1-sum(map(c,['-','=','nj','lj','dz='])))

ljes=njak
6

In [44]:
# 리스트의 조건에 만족하는 함수는 1을 출력하고 나머지는 0 출력
list(map(c, ["-", "=", "nj", " lj", "dz="]))

[0, 1, 1, 0, 0]

In [53]:
# 한글자씩 갯수를 세어 나온 값은 10개에 조건을 빼면 -4임
print(c(""))
print(c('')-1-sum(map(c,['-','=','nj','lj','dz='])))

10
6