<i><b>Public AI</b></i>
<br>
### **&nbsp;&nbsp;Week1. Python 기본기 다지기**
# Section 2. 변수와 연산

컴퓨터는 변수를 통해 데이터를 저장 및 조작할 수 있는데, Python은 변수를 만들고 조작하는 방법이 다른 언어에 비해 매우 간결합니다. 이번 주차에는 컴퓨터가 데이터를 처리하는 기본 기능인 CRUD, 즉 생성(Create), 읽기(Read), 갱신(Update), 삭제(Delete) 기능이 Python에서는 어떻게 작동하는지 살펴보겠습니다. 
<br>
<br>
이번 Section2 에서는 Python을 이용해 숫자형, 문자형, 논리형 변수를 생성해보고, 변수를 다루는 기본적인 방법을 데이터의 종류(예: 숫자 데이터와 문자열 데이터) 별로 배워보겠습니다.


### _Objective_
1. **Python의 변수** : 변수를 만들고 값을 저장하는 방법을 배웁니다. <br>
2. **Python의 기본 자료형과 연산자** : 숫자형, 문자형, 논리형 데이터를 변수에 담아 다루는 방법을 배웁니다. <br>

# \[ 1. Python의 변수 \]

Python에서 데이터를 담는 "변수" 라는 개념에 대해서 배워보겠습니다.

## 1. 변수는 무엇인가

+ 컴퓨터에서의 변수를 이해할 때는 **데이터를 담는 공간**이라고 생각해보면 도움이 됩니다. 
+ 컴퓨터에는 데이터를 저장할 수 있는 공간이 있는데, 프로그램을 실행하면 컴퓨터는 변수에 데이터를 담아 저장하게 됩니다.

## 2. Python 에서의 변수 

+ Python 에서도 컴퓨터의 메모리 공간에 **값**을 담아 **저장**하고, 거기에 **이름**을 붙여 그 값을 가져올 수 있는데, 이를 **"변수"**라고 합니다. 
+ 변수를 만드는 것을 변수를 '선언(declare)'한다고 표현하기도 하는데, 다른 언어와 다르게 Python 에서는 변수를 선언하는 명령어 없이, 변수에 값을 할당(혹은 저장)하는 순간에 변수가 만들어집니다. 
+ 변수에는 **값**을 저장할 수도 있고, **변수**를 저장할 수도 있으며, **연산 결과**를 저장할 수도 있습니다.

### (1) 변수 생성하기 및 값 할당하기

다른 언어(C언어 등)에서는 변수를 먼저 선언한 후 값을 할당하는 순으로 절차가 분리되어 있는데 반해, Python에서는 `=`을 통해 변수를 생성함과 동시에 데이터를 할당하게 됩니다. 이러한 차이로, Python에서는 변수 생성의 절차가 줄어듦과 더불어 변수 선언 시 변수에 담길 데이터의 자료형을 미리 지정해주지 않아도 된다는 편리함이 있습니다. 기존에 담겨있던 데이터와 다른 형의 데이터가 할당되더라도 문제 없이 값이 덮어씌워진다는 장점도 있습니다. 
<br>

In [1]:
a = True # 논리형(참 거짓)
x = 1 # 정수형
y = 1.2 # 실수형
z = "string" # 문자열형

lst = [1,2,3,4,"a","b","c","d"] # list 형

변수의 자료형을 특정해두지 않는다는 점에는 이 외에도

In [2]:
# 1을 담았던 x에 문자열 값을 덮어 씌울 수 있음
x = "hello python"

### (2) 변수 이름 짓기

변수의 이름은 알파벳 소문자, 대문자, 숫자, `_`로 구성할 수 있으나, 숫자로 시작할 수는 없습니다. 변수가 무엇을 담고 있는지 혹은 어떤 용도인지 의미를 담아 짓는 것이 좋습니다. 의미있는 변수명을 선택하는 것도 좋은 프로그래밍의 시작이죠.

In [2]:
# 문자와 숫자
hello1 = "Hello Python"

In [1]:
# 예외적으로 변수의 이름에 숫자가 먼저 나올 수는 없음.
1hello = "Hello Python"

SyntaxError: invalid syntax (<ipython-input-1-74d649411d77>, line 2)

띄어쓰기 대신 `_`를 사용할 수도 있습니다. 다만, 파이썬 프로그래머들 사이에는 특별한 경우에 `_` (single underscore) 혹은 `__` (double underscore 또는 dunder)을 변수명 앞 혹은 뒤에 사용하자는 약속이 있으니 주의하세요!(참고: [PEP 8 : Naming Conventions](https://www.python.org/dev/peps/pep-0008/#naming-conventions))

In [4]:
# 변수명에 띄어쓰기를 할 수는 없지만, _를 활용할 수 있음
greet_person = "안녕하세요 여러분!"

또한, 모든 프로그래밍 언어에는 **'예약어(keywords)'** 가 있습니다. 예약어는 언어가 특정 기능을 하도록 미리 지정해놓은 키워드라고 생각하면 됩니다. 따라서 예약어는 데이터를 담을 변수 이름으로는 사용할 수 없습니다. (참고: [Python Keywords](https://www.w3schools.com/python/python_ref_keywords.asp))

In [18]:
try = 1 # try는 예약어이므로, 변수명으로 지정할 경우 오류 발생

SyntaxError: invalid syntax (<ipython-input-18-a6220b50d256>, line 1)

In [19]:
True = 1 # true는 예약어이므로, 변수명으로 지정할 경우 오류 발생

SyntaxError: can't assign to keyword (<ipython-input-19-439e08934ea4>, line 1)

### (3) 변수에 변수를 저장하기
변수에는 이처럼 데이터 값을 직접 저장할 수도 있지만, 이미 만들어진 변수를 담을 수도 있습니다. 이 역시 `=`을 사용하여 변수를 대입하게 되면, 오른쪽의 변수가 지칭하고 있는 값을 왼쪽의 변수로도 지칭할 수 있게 됩니다. 즉, 왼쪽의 변수도 오른쪽의 변수가 데이터를 담고 있던 공간을 바라보게 되는 것이죠. 아래 예시에서 각각의 변수가 컴퓨터 메모리상에서 저장된 주소값(```id(변수)```로 호출)을 보면, `y`에 `x`를 담은 후에 `x`의 주소 바뀌어 `y`와 동일한 공간을 바라보고 있음을 알 수 있습니다.

In [22]:
# 각각 독자적인 값을 갖는 변수 x와 y를 생성합니다. 
x = 1
y = 1.5

print("Before x = y")
print("x : ", x)
print("y : ", y)
print("id(x) : ", id(x))
print("id(y) : ", id(y))

Before x = y
x :  1
y :  1.5
id(x) :  1446145088
id(y) :  1420738403664

In [23]:
# = 을 이용해 y에 있었던 값을 x에 담을 수 있습니다.
x = y

print("After x = y")
print("x : ",x)
print("y : ",y)
print("id(x) : ", id(x))
print("id(y) : ", id(y))

After x = y
x :  1.5
y :  1.5
id(x) :  1420738403664
id(y) :  1420738403664

### (4) 변수에 연산 결과를 저장하기

또는 연산 결과를 바로 저장할 수도 있습니다.

In [7]:
# x에 1과 2를 더한 값을 저장할 수 있습니다.
x = 1 + 2
x

3

In [6]:
# y에 문자열 연결하여 바로 저장할 수 있습니다. 
y = 'hello' + '_' + 'there!!'
print(y)

hello_there!!

### (5) 변수 지우기

`=`을 통해 변수를 생성했다면, 변수 지우기는 `del` 명령어를 이용하면 됩니다. 변수명 앞에 `del`을 붙여 실행하게 되면, 변수가 삭제되어 더이상 해당 변수명으로 데이터에 접근할 수 없게 됩니다.

In [5]:
del x
id(x)

NameError: name 'x' is not defined

# \[ 2. Python의 기본 자료형과 연산자 \]


앞서 **(1)변수 생성하기 및 값 할당하기**에서 간략히 살펴보았듯이, Python에서 변수에 담을 수 있는 **값**은 기본적으로 **정수형**, **실수형**, **참거짓형**, **문자형** 등으로 나누어집니다. 어떤 데이터 유형인지에 따라 사용할 수 있는 **연산자**의 구성이 다르며, 연산자의 작동 방식 또한 다르게 구현되어 있습니다. 값의 다양한 타입과 타입별 다양한 연산자에 대해 배워봅시다.

## 1. 정수형/실수형 데이터 다루기

+ Python 에서 숫자형 데이터는 크게 정수형(integer)과 실수형(float)으로 나뉩니다. 
+ 기본에 알고 있는 사칙연산 기호인 `+`, `-`, `*`, `/`를 이용해 숫자를 더하고, 빼고, 곱하고 나눌 수 있습니다.
+ 그 외에도 나머지(`//`)와 몫(`%`), 지수승(`**`)을 한 번에 구할 수 있습니다.

In [15]:
print(type(1), '1의 자료형은 정수(integer)이며, int라고 표현됩니다.')
print(type(1.2), '1.2의 자료형은 실수(float-point number)이며, float으로 표현됩니다. ')

<class 'int'> 1의 자료형은 정수(integer)이며, int라고 표현됩니다.
<class 'float'> 1.2의 자료형은 실수(float-point number)이며, float으로 표현됩니다.

### (1) 더하기

In [8]:
1 + 2

3

In [9]:
# 정수형과 실수형을 연산하면, 
# 실수형으로 결과값이 나타납니다.
1 + 1.2

2.2

In [10]:
# 실수형의 경우에는 컴퓨터의 부동소수점 방식으로 인해, 
# 약간의 오차가 발생합니다.
1.2 + 2.4

3.5999999999999996

### (2)  빼기

In [11]:
3 - 2

1

In [12]:
3 - 1.4

1.6

In [13]:
3.2 - 1.4

1.8000000000000003

### (3) 곱하기

In [14]:
3 * 2

6

In [15]:
3.2 * 2

6.4

In [16]:
3.2 * 2.1

6.720000000000001

### (4) 나누기

In [17]:
4 / 2 # 나누기를 할 경우 자동으로 실수형으로 형 변환 됩니다.

2.0

In [18]:
4.2 / 2.1

2.0

In [19]:
4.2 / 0 # 0으로 나누기를 시도할 경우, zeroDivisionError로 에러가 발생합니다.

ZeroDivisionError: float division by zero

### (5) 몫

In [20]:
5 // 2 # 나누기의 몫 부분을 반환합니다.

2

### (6) 나머지

In [1]:
5 % 2

1

### (7) 지수

$3**2 = 3^2$

In [2]:
3 ** 2

9

In [3]:
3 ** 2.1

10.04510856630514

In [4]:
3.1 ** 2

9.610000000000001

### (8) 변수에도 동일하게 적용되는 숫자 연산자
 앞서 살펴보았던 연산자는 숫자를 담은 변수에 대해서도 동일하게 적용됩니다. <br>
 <br>

  $x=3,y=2$일 때,  $x^2 + y^3 + 2xy+3x + 4y$를 계산한다면, `x`와 `y` 변수에 숫자를 담아서 계산할 수 있습니다.

In [5]:
x = 3
y = 2
x**2 + y**3 + 2*x*y + 3*x + 4*y

46

### (9) 괄호()로 연산의 우선순위 정하기
수학문제를 풀 때 연산의 우선순위를 나타낼 때 괄호를 사용하듯이, Python에서도 괄호를 이용해 연산의 우선순위를 정할 수 있습니다. 다만 수학에서 쓰던 `{ }`나 `[ ]`는 사용하지 않고, `()`만 사용합니다.<br>

 $x=3,y=2$일 때, $x^2 + y^3 + 2xy+ 3(x + 4y)$를 계산한다면 아래와 같이 하면 됩니다.

In [6]:
x = 3
y = 2
x**2 + y**3 + 2*x*y + 3*(x + 4*y)

62

수학에서와 마찬가지로 괄호의 위치가 바뀌면 연산의 우선순위가 바뀝니다.

In [7]:
x**2 + y**3 + 2*(x*y + 3*(x + 4*y))

95

<br>

##  2. 논리형 데이터 다루기


+ Python 에서 참과 거짓을 나타내는 논리형 데이터는 `True` 와 `False`입니다. 
+ 논리형 데이터를 결과값으로 반환하는 비교 연산자는 아래와 같습니다.

| 연산자 | True 의 의미 |
| ---- | ---- |
| a==b | 같음 |
| a!=b | 다름  |
| a>b  | a가 b보다 큼 |
| a>=b | a가 b보다 크거나 같음 |
| a<b  | a가 b보다 작음 |
| a<=b | a가 b보다 작거나 같음 |

+ 위 연산자를 사용하게 되면 두 값을 비교하여 True 혹은 False 를 반환하게 됩니다. 
+ 대부분 수학에서 다루는 연산자의 의미를 그대로 사용하게 됩니다. 
+ `!=`를 `=!`로 쓰거나 `>=`를 `=>`로 쓰는 등 순서를 바꾸어 쓸 수는 없습니다.
<br>
<br>
+ 이 외에도 논리형 연산자**에** 쓸 수 있는 연산자가 있습니다. 

| 연산자 | 반환값의 의미 |
| ---- | ---- |
| a and b | a와 b가 모두 참일 때 True |
| a or b | a 또는 b 중 하나라도 참일때 True  |
| not b | b 의 반대(예: not False는 True) |
| a is b | a와 b의 주소값이 같을 때 True |

### (1) ==

In [8]:
1 == 1

True

### (2) !=

In [9]:
1 != 2

True

### (3) >

In [10]:
2 > 2

False

In [11]:
'a' <= 'b' # 문자열 데이터에 대해서도 사용할 수 있음

True

### (4) >=

In [12]:
2 >= 2

True

In [13]:
2 =< 2 # =와 <의 순서가 바뀌면 오류 반환

SyntaxError: invalid syntax (<ipython-input-13-074b991a5e5d>, line 1)

### (5) <

In [14]:
2 < 3

True

### (6) <=

In [15]:
2 <= 3

True

### (7) and 연산

and 연산은 두 개 모두 참일 때 참을 반환합니다.

In [16]:
True and True

True

In [17]:
True and False

False

In [18]:
False and False

False

### (8) or 연산
or 연산은 두 개 중 하나라도 참일 때 참을 반환합니다.

In [19]:
True or True

True

In [20]:
True or False

True

In [21]:
False or False

False

### (9) not 연산
not 연산은 참 거짓을 뒤집어 반환합니다.

In [22]:
not True

False

In [23]:
not False

True

### (10) and or not 조합

and or not 연산자는 아래와 같이 이용할 수 있습니다.

In [24]:
# x,y,z가 다음처럼 주어졌을 때,
x = 1
y = 3
z = 4

# 비교 수식들을 조합하여 사용할 수 있음
(z > x and z > y) or not (y <= x)

True

### (11) is 연산자

같음을 비교하는 연산에는 `==` 외에도, `is` 연산자가 있습니다. `==`은 두 개의 **값**이 같은지를 비교하고, `is`는 두 개의 **주소값**이 같은지를 비교합니다. 컴퓨터가 데이터를 담아두는 공간(혹은 위치)이 같은 곳인지 비교하는 것이죠.

In [25]:
# list에 대한 자세한 내용은 다음 챕터 참고 
a = [1,2,3,4,5] # list 선언
b = [1,2,3,4,5] # a와 동일한 값을 가져온 list 선언

In [26]:
a == b # 두 list의 값이 같은지를 비교

True

In [27]:
a is b # 두 list의 주소값이 같은지를 비교

False

In [28]:
print("a가 저장된 공간의 주소 : ", id(a))
print("b가 저장된 공간의 주소 : ", id(b))

a가 저장된 공간의 주소 :  4658685192
b가 저장된 공간의 주소 :  4658685320

`a`와 `b`는 동일한 값을 가지고 있지만, 저장된 공간의 **주소**는 위와 같이 다릅니다. 각각이 독자적인 변수로 선언되었기 때문입니다.

In [29]:
a = [1,2,3,4,5] 
b = a # 이경우, a의 주소값을 b에 담음

In [30]:
a == b

True

In [31]:
a is b

True

In [32]:
print("a가 저장된 공간의 주소 위치 : ", id(a))
print("b가 저장된 공간의 주소 위치 : ", id(b))

a가 저장된 공간의 주소 위치 :  4658686024
b가 저장된 공간의 주소 위치 :  4658686024

`True`,`False`,`None`과 같이 자주 쓰이는 값들을 Python에서는 늘 같은 주소값에 위치시킵니다. 

그래서 `True`, `False`의 경우에는 `is`와 `==`이 항상 같은 결과를 반환하지만, 일반적으로 속도가 조금 더 빠른 `is` 연산을 이용합니다.

In [33]:
a = True

In [34]:
a == True

True

In [35]:
a is True

True

In [36]:
%%timeit
a == True

30.9 ns ± 1.98 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [37]:
%%timeit
# == 보다 is 연산이 좀 더 빠르다
a is True

24.7 ns ± 1.34 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

##  3. 문자열형 데이터 다루기

+ 이외에도 문자가 나열된 문자열형 데이터가 있으며, 연산자나 내장함수를 이용해 변수에 담긴 문자열이나 문자열 자체를 직접 처리할 수 있습니다. 
+ Python에서는 문자열을 활용하는 강력한 기능들이 있습니다.

### (1) 문자열 만들기
문자열을 만들기 위해서는, `"안녕하세요"`나 `'안녕하세요'`처럼, `"` 혹은 `'`으로 감싸주면 됩니다.

In [55]:
str1 = "hello"
str2 = 'Python'

print(str1)
print(str2)

hello
Python

줄이 나뉘는 문자열로 넣고 싶다면, `"""`나 `'''`처럼 따옴표를 3번 연달아서 감싸 주면 됩니다.

In [56]:
str1 = """
5Days for Deep Learning 코스에 오신 것을
진심으로 환영합니다!
"""
print(str1)

5Days for Deep Learning 코스에 오신 것을
진심으로 환영합니다!

### (2) +

In [57]:
str1 = "Hello,"
str2 = "world!"
str1 + str2

'Hello,world!'

### (3) *

문자열을 곱할 경우, 해당 문자열을 곱한 수만큼 반복합니다.

In [58]:
str1 = "Hello!"
str1 * 3

'Hello!Hello!Hello!'

### (4) 문자열 길이 구하기

In [59]:
str1 = "Hello~ "
len(str1) # 총 7개의 글자가 존재(space도 포함)

7

In [62]:
len(str1)

21

### (5) 문자열 인덱싱

순서가 있는 데이터에서 특정 위치의 값을 가져오는 것을 '인덱싱(indexing)'이라고 합니다. 문장 혹은 단어의 특정 위치의 데이터를 끊어서 가져오려면 `[위치값]`를 문자열 변수 뒤에 붙이면 됩니다. 
<br> 
다만 몇 가지 주의할 점이 있습니다. 
+ Python에서 인덱싱은 **0부터 시작**합니다. (예: 첫 번째 값을 가져오려면 `[0]`으로 인덱싱)
+ a부터 **b 미만**까지 가져오려면 `:`을 이용합니다. (예: `[a:b]`는 b위치의 값은 가져오지 않음)

In [60]:
str1 = "This is Python World!"
str1[3] # Python에서 인덱싱은 0부터 시작. 3은 4번째 자리를 의미.

's'

In [61]:
str1[0:4] # 0부터 4미만까지 가져올 수 있습니다.

'This'

**list**와 **tuple**이라는 자료형에서도 동일한 방식으로 인덱싱을 하게 됩니다. 보다 자세한 인덱싱 방법은 다음 챕터에서 list 와 tuple을 다루며 배워보겠습니다.

### (6) 문자열 쪼개기

문자열 자료형에는 `split`이라는 내장 함수가 있습니다. 이를 기준으로 문자열을 쪼갤 수 있다.

In [63]:
str1 = "This is Python World!"
str1.split(" ") # 공백을 기준으로 나누기

['This', 'is', 'Python', 'World!']

In [64]:
str1.split('s') # 알파벳 s을 기준으로 나누기

['Thi', ' i', ' Python World!']

### (7) 문자열의 반복 출력을 위한 문자열 포멧팅
문자열 내에 어떤 부분을 비워두고, 원하는 값으로 채워놓을 수 있도록 도와주는 기능을 **문자열 포맷팅**이라고 합니다. 
예를 들어, 머신러닝을 학습할 때에는 아래와 같은 문장을 반복하여 만들어야 할때가 있습니다.

```python
accuracy_sentence = "현재 32번째 학습하였습니다. 테스트의 정확도는 92.3%입니다."

```

이 문장의 포맷만 유지하고 값을 바꾸어 반복적으로 출력하고 싶다면, 아래처럼 할 수도 있습니다.

In [1]:
step = 32
accuracy = 92.3

In [2]:
"현재 "+str(step)+"번째 학습하였습니다. 테스트의 정확도는 "+str(accuracy)+"%입니다."

'현재 32번째 학습하였습니다. 테스트의 정확도는 92.3%입니다.'

하지만 매번 변수의 타입을 문자열로 바꿔주고, `+` 연산자를 써야한다는 점이 불편할 수 있습니다. Python에서는 아래와 같이 좀 더 명확하고 간단하게 쓸 수 있는 방법을 제공합니다. <br>
<br>
**Python에서 문자열 포매팅하는 방법**<br>
- 방법1: 포매팅 할 문자가 들어갈 부분에 중괄호({})를 넣어 비워두고 `.format()`에 중괄호 순서대로 대입하기<br>

- 방법2: 문자열 앞에 `f`를 붙이고 문자열 안에 변수 입력하기 ([Python 버전 3.6에 추가](https://docs.python.org/ko/3/reference/lexical_analysis.html#f-strings)) <br>

In [4]:
# format안에 들어가는 인자는 문자열이 아니더라도, 자동으로 문자열로 바꾸어서 입력해주어 편리함
# 방법1
"현재 {}번째 학습하였습니다. 테스트의 정확도는 {}%입니다.".format(step, accuracy)

'현재 32번째 학습하였습니다. 테스트의 정확도는 92.3%입니다.'

In [5]:
# 방법2
f"현재 {step}번째 학습하였습니다. 테스트의 정확도는 {accuracy}%입니다."

'현재 32번째 학습하였습니다. 테스트의 정확도는 92.3%입니다.'

아래와 같이 계속 진행될 경우, 글자의 길이가 달라져, 단이 맞지 않을 수 있습니다.

In [68]:
step = 1
accuracy = 82.61921
print("현재 {}번째 학습하였습니다. 테스트의 정확도는 {}%입니다.".format(step, accuracy))
step = 2
accuracy = 85.415
print("현재 {}번째 학습하였습니다. 테스트의 정확도는 {}%입니다.".format(step, accuracy))

# .... 학습이 진행 중

step = 99
accuracy = 92.5123
print("현재 {}번째 학습하였습니다. 테스트의 정확도는 {}%입니다.".format(step, accuracy))
step = 100
accuracy = 94.5
print("현재 {}번째 학습하였습니다. 테스트의 정확도는 {}%입니다.".format(step, accuracy))

현재 1번째 학습하였습니다. 테스트의 정확도는 82.61921%입니다.
현재 2번째 학습하였습니다. 테스트의 정확도는 85.415%입니다.
현재 99번째 학습하였습니다. 테스트의 정확도는 92.5123%입니다.
현재 100번째 학습하였습니다. 테스트의 정확도는 94.5%입니다.

이런 경우를 위해, `format`함수에서는 다양한 포맷팅 기법을 제공해줍니다.

In [7]:
'{:>5}'.format('123') # 오른쪽 정렬로 총 글자 폭이 5만큼, 공백은 스페이스로 채워줌

'  123'

In [70]:
'{:>10}'.format('123') # 오른쪽 정렬로 총 글자 폭이 10만큼, 공백은 스페이스로 채워줌

'       123'

In [71]:
'{:<10}'.format('123') # 왼쪽 정렬로 총 글자 폭이 10만큼, 공백은 스페이스로 채워줌

'123       '

In [72]:
'{:<10}'.format(12.3) # 왼쪽 정렬로 총 글자 폭이 10만큼, 공백은 스페이스로 채워줌

'12.3      '

In [8]:
"{:.3f}".format(12.38898) # 소숫점 3째자리 까지 잘라서 출력해줌

'12.389'

#  

---

    Copyright(c) 2019 by Public AI. All rights reserved.
    Writen by PAI, SeonYoul Choi ( Best10@publicai.co.kr )  last updated on 2019/02/24

---