<i><b>Public AI</b></i>
<br>
### **&nbsp;&nbsp;Week1. Python 기본기 다지기**
# Section 3. Python의 자료구조 (1) : List와 Tuple

컴퓨터가 다룰 수 있는 데이터의 형태에는 숫자형, 문자형, 논리형 등의 기본 변수만 있는 것이 아닙니다. Python은 이 외에도 Section 2에서 배운 자료형의 데이터 값이 모여 만들어지는 List, Tuple, Set, Dictionary 등의 다양한 자료구조를 지원합니다. 

이번 Section3에서는 그 중에서 List형 자료구조 및 Tuple형 자료구조의 개념을 이해한 후, 기본적인 조작 방법에 대해 살펴보겠습니다.

### _Objectives_
1. **List** : 리스트 자료형의 개념을 이해하고, 생성, 읽기, 수정, 제거하는 방법을 배워봅니다.  <br>
2. **Tuple** : 튜플 자료형의 개념을 이해하고, 생성, 읽기, 제거하는 방법을 배워봅니다.  <br>

# \[ 1. List \]

리스트(list)는 여러개의 객체를 요소로 담을 수 있는 자료형으로, 구성하는 요소들에 **순서**가 있으며, 요소를 바꿀 수 있다는 특징을 가집니다.

## 1. 리스트의 특징 및 조작 방법


+ 리스트도 변수가 될 수 있는 자료형이기 때문에, 생성시 앞서 Section2에서 변수 생성시에 사용했던 `=`을 동일하게 사용하되, 리스트를 구성하고자 하는 데이터를 대괄호 연산자 **`[`와 `]`로 감싸주어 생성**합니다.
+ 리스트는 구성하는 데이터에 **순서**가 있다는 특징을 가지므로, 변수명을 통해 구성요소에 접근할 때는 원소의 **인덱스**(또는 위치값)을 이용해 특정 위치의 값을 **가져오거나 수정하거나 제거**할 수 있습니다. 
+ 리스트 인덱스 외에도  `index()`, `append()`, `insert()`, `extend()`, `remove()`,`pop()` 등의 메서드를 이용하여 조작할 수 있습니다.

### (1) 리스트 생성하기
 Python에서 리스트는 `[`와 `]`를 이용하거나 `list(원소)`를 이용하여 생성합니다. 리스트를 구성하는 원소가 모두 같은 타입일 필요는 없습니다. 즉, 한 가지 유형의 데이터로 리스트를 만들 수도 있고 문자형, 숫자형, 논리형,리스트형 데이터를 조합해서 만들 수도 있습니다.

In [1]:
# 비어있는 리스트를 생성함
lst0 = []
lst0 = list()
lst0

[]

In [2]:
# 여러개의 숫자들을 저장함
lst1 = [1,2,3,4,5]
lst1

[1, 2, 3, 4, 5]

In [3]:
# 정수 이외의 실수나 text도 담을 수 있음
lst2 = [1,2,3,5.5,"str1"]
lst2

[1, 2, 3, 5.5, 'str1']

In [4]:
# 리스트 내에 리스트 또는 변수를 담을 수 있음
var1 = 1
lst3 = [var1, 2,3,4, lst2]
lst3

[1, 2, 3, 4, [1, 2, 3, 5.5, 'str1']]

### (2) List를 구성하는 값 가져오기
List의 구성요소는 순서가 정해져있기 때문에, 위치값 또는 인덱스(index)로 원하는 값을 가져올 수 있습니다. List 뒤에 **`[index]`**를 붙여 원하는 위치의 값을 가져오면 됩니다. 다만 앞서 ***문자열 데이터의 인덱싱***에서도 배웠듯이 Python에서 인덱스는 **0부터 시작**된다는 점을 주의해야 합니다!
<br>
<br>
이번에는 문자열 데이터의 인덱싱에서 간단하게 다뤘던 인덱스를 이용한 슬라이스(slice) 방법을 좀 더 자세하게 살펴보겠습니다. 여기서 배우게 될 내용은 문자열이나 튜플형에도 동일하게 적용됩니다.

In [5]:
lst = [1,2,3,4,5]

In [6]:
# 리스트의 2번째 index 값 가져오기
# *주의 : Python 에서 index는 0부터 시작함. 따라서 2번째라고 하면 실제 세 번째에 위치한 3 반환.
element_1 = lst[2]
element_1

3

In [7]:
# 리스트의 마지막 값 얻기
# 마지막 원소를 뜻하는 인덱스는 -1로, 역순인 -2, -3으로 진행
element_4 = lst[-1]
element_4

5

In [8]:
# 리스트의 범위를 지정하여 값 얻기
# 1번째 이상 4번째 미만 값을 가져오기 위해서는 :을 이용
element_2 = lst[1:4]
element_2

[2, 3, 4]

In [9]:
# 리스트의 3번째 이후 값 얻기
# 시작하는 지점만 설정하고 끝을 설정하지 않음
element_3 = lst[3:]
element_3

[4, 5]

In [10]:
# 리스트의 범위에 step 값을 추가하여 그 값만큼 건너뛰어 가져올 수 있음
# 0번째 이상 5번째 미만 값을 가져오되, 두 칸씩 건너가며 값을 가져온다. 
element_5 = lst[0:5:2]
element_5

[1, 3, 5]

In [11]:
# list에 값이 있는지는 in 연산자를 통해 알 수 있음
1 in lst

True

### (3) List의 특정 원소값 수정하기
List 의 특정 원소를 수정하는 데도 인덱스를 활용할 수 있습니다.

In [12]:
# lst의 세번째 값을 6으로 바꾸기
lst = [1,2,3,4,5]
lst[2] = 6
lst

[1, 2, 6, 4, 5]

리스트가 커지면 우리가 원하는 값의 index를 알기 어려울 수 있습니다. 이때는  `lst.index(value)`를 이용하여 원하는 값의 인덱스를 파악합니다.

In [13]:
lst = [1,2,3,4,5]
lst.index(4) # 값이 4인 인덱스 값을 반환

3

In [14]:
lst.index(7) # 해당 값이 리스트 안에 없으면 Error를 반환

ValueError: 7 is not in list

### (4) List에 값 추가하기
 List는 `append()`,`extend()`, 또는 `insert()`를 통해 값을 추가할 수 있습니다.

In [15]:
lst = [1,2,3,4,5]

In [16]:
# lst의 가장 뒤에 값 추가하기
lst.append(6)
lst

[1, 2, 3, 4, 5, 6]

In [17]:
# lst의 가장 뒤에 리스트를 원소로 추가하기
lst.append([1,2])
lst

[1, 2, 3, 4, 5, 6, [1, 2]]

In [18]:
# lst의 가장 뒤에 리스트로 이뤄진 값 추가하기
lst.extend([1,2])
lst

[1, 2, 3, 4, 5, 6, [1, 2], 1, 2]

In [19]:
# lst 의 2번 자리(즉 세 번째)에 2.5의 값 추가하기
lst.insert(2,2.5)
lst

[1, 2, 2.5, 3, 4, 5, 6, [1, 2], 1, 2]

### (5) List의 특정 원소 제거하기
`del` 을 이용한 방법과 `L.remove()`를 이용한 방법, `L.pop()`을 이용하는 방법이 있습니다.

In [20]:
lst = [1,2,3,4,5]
del lst[0] # 0번 인덱스를 가지는 값 제거
lst

[2, 3, 4, 5]

In [21]:
lst = [1,2,3,4,5]
# remove를 이용하여 lst내의 값 4 를 제거하기
lst.remove(4)
lst

[1, 2, 3, 5]

In [22]:
# 만약 remove(#) : # 의 값이 list에 존재하지 않을 경우 ValueError 가 발생
lst.remove(0) # lst내에 0이 없기 때문에 제거되지도 않음
lst

ValueError: list.remove(x): x not in list

In [23]:
# pop을 할 경우, 가장 마지막 원소을 반환하고, 해당 원소는 리스트에서 제거됨
lst = [1,2,3,4,5]
lst.pop()

5

In [24]:
lst

[1, 2, 3, 4]

<br>

## 2. List의 연산자 및 함수

+ 문자형, 숫자형 데이터와 마찬가지로 List에서도 연산자를 이용할 수 있습니다. 
+ 더하기, 곱하기 연산자를 이용해 List를 확장할 수도 있고, `zip`을 이용해 두 List를 묶을 수도 있습니다. 
+ 혹은 내장형 함수를 이용하여 List의 길이를 측정하거나(`len()`) 원소를 정렬할 수 있습니다(`sorted()`).

### (1) List에서 더하기(+) 연산자의 역할 

`+`, 더하기 연산을 이용하면 앞의 List에 뒤의 리스를 이어 붙일 수 있습니다.

In [1]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst1 + lst2 # List 합치기

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# 빈 리스트에 반복문으로 리스트를 계속해서 추가
lst3 = []
for i in range(10):
    # 같은 리스트여야 하기에 []를 추가
    lst3 += [i]
lst3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### (2)List에서 곱하기(*) 연산자의 역할

`*`, 곱하기 연산을 이용하면, 곱한 횟수만큼List가 반복되는 또 다른List를 만들 수 있습니다.

In [26]:
lst1 * 3 # List 반복

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### (3) zip을 이용해 두 List 교차하기
두 List의 원소를 순서대로 엮어서 하나의 List로 만들고 싶다면 `zip()`을 이용합니다 .

In [27]:
lst1 = [1,2,3,4,5]
lst2 = ["a","b","c","d","e"]

# list(zip(lst1,lst2))를 하면, 
# 두 List가 교차로 들어감
list(zip(lst1,lst2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

### (4) len으로 크기 재기

List 내에 있는 원소의 수를 반환합니다.

In [28]:
lst = [1,2,3,4,5]
len(lst)

5

### (5) sorted로 정렬하기

List 내에 있는 원소를 정렬합니다.

In [29]:
lst = [1,3,2,4,5]
id(lst)

4355738504

In [30]:
sorted(lst) # 기본적으로 오름차순으로 정렬
id(sorted(lst))

4558836424

In [31]:
sorted(lst,reverse=True) # reverse=True하면 내림차순 정렬

[5, 4, 3, 2, 1]

<hr>

# \[ 2. Tuple \]


Tuple(튜플)은 여러 원소로 구성되고 순서가 있다는 점에서 리스트와 비슷하지만, 리스트와 달리 한 번 생성하면 **값을 변경할 수 없는 자료형**입니다.

## 1.Tuple의 특징 및 조작 방법


+ Tuple도 앞서 변수 생성시에 사용했던 `=`을 동일하게 사용하되, tuple을 구성하고자 하는 데이터를 괄호 연산자 `(`와 `)`로 감싸주어 생성합니다.
+ Tuple은 list와 마찬가지로 구성하는 데이터에 순서가 있다는 특징을 가지지만, 한 번 생성한 tuple은 구성 요소를 **제거하거나 수정할 수 없습니다.**

### (1) Tuple 생성하기
Tuple 역시 `=`을 이용해 변수를 생성하되, `(`와 `)`로 감싸주거나 `tuple()` 로 생성해야 합니다.

In [32]:
# 비어있는 Tuple를 생성
tpl = ()
tpl = tuple()
tpl

()

In [33]:
# 여러개의 숫자들을 저장
tpl = (1,2,3,4,5)
tpl

(1, 2, 3, 4, 5)

In [34]:
# 정수 이외의 실수나 text도 담을 수 있음
tpl = (1,2,3,5.5,"str1")
tpl

(1, 2, 3, 5.5, 'str1')

In [35]:
# tuple 내에 tuple, 리스트 또는 변수를 담을 수 있음
var_1 = 1
tpl_1 = (var_1, 2,3,4, tpl)
tpl_1

(1, 2, 3, 4, (1, 2, 3, 5.5, 'str1'))

### (2) Tuple을 구성하는 값 가져오기
Tuple에서도 대괄호에 index를 넣어 값을 얻습니다.

In [36]:
tpl = (1,2,3,4,5)

In [37]:
# tuple의 2번 index 값 가져오기
# *주의 : Python 에서 index는 0부터 시작
element_1 = tpl[2]
element_1

3

In [38]:
# tuple의 마지막 값 얻기
# 마지막 index은 -1로, 역 순으로 -2, -3으로 진행
element_4 = tpl[-2]
element_4

4

In [39]:
# tuple의 범위 지정
# 1번째 이상 4번째 미만 값을 가져오기 위해서는 :을 이용
element_2 = tpl[1:4]
element_2

(2, 3, 4)

In [40]:
# tuple의 세번째 이후 값 얻기
element_3 = tpl[3:]
element_3

(4, 5)

In [41]:
# tuple의 범위에서 step 값을 주어 그 값만큼 건너뛰어 가져올 수 있음
element_5 = tpl[0:5:2]
element_5

(1, 3, 5)

In [42]:
# tuple에 값이 있는지는 in 연산자를 통해 알 수 있음
1 in tpl

True

### (3) Tuple의 특정 원소값 수정하기 - 불가능!
Tuple에서 값을 수정하면 아래와 같이 에러 메시지가 나타납니다.

In [43]:
# tpl의 세번째 값을 6으로 바꾸기
tpl= (1,2,3,4,5)
tpl[2] = 6

TypeError: 'tuple' object does not support item assignment

## 2. Tuple의 연산자 및 함수

+ Tuple의 연산자는 list의 연산자와 동일하게 작동합니다.   
+ 더하기, 곱하기 연산자를 이용해 tuple을 확장할 수도 있고, `zip`을 이용해 두 tuple을 묶을 수도 있습니다. 
+ 혹은 내장형 함수를 이용하여 list의 길이를 측정하거나(`len()`) 원소를 정렬할 수 있습니다(`sorted()`).

### (1) Tuple에서 더하기(+) 연산자의 역할
`+`, 더하기 연산을 이용하면 앞의 tuple에 뒤의 tuple을 이어 붙일 수 있습니다.

In [44]:
tpl1 = (1,2,3,4,5)
tpl2 = (6,7,8,9,10)
tpl1 + tpl2 # Tuple 합치기

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

다만, List와 Tuple을 합칠 수는 없습니다.

In [45]:
lst1 = [1,2,3,4,5]
tpl2 = (6,7,8,9,10)
lst1 + tpl2 # Tuple 합치기

TypeError: can only concatenate list (not "tuple") to list

### (2) Tuple에서 곱하기(*) 연산자의 역할
*, 곱하기 연산을 이용하면, 곱한 횟수만큼 tuple이 반복되는 또 다른 리스트를 만들 수 있습니다.

In [46]:
tpl1 * 3 # Tuple 반복

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### (3) zip을 이용해 두 tuple 교차하기
두 튜플의 원소를 순서대로 엮어서 하나의 리스트로 만들고 싶다면 `zip()`을 이용합니다 .

In [47]:
tpl1 = (1,2,3,4,5)
tpl2 = ("a","b","c","d","e")

list(zip(tpl1,tpl2)) # list와 마찬가지로 교차해서 들어갑니다.

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

### (4) len으로 크기 재기

Tuple 내에 있는 원소의 수를 반환합니다.

In [48]:
tpl = (1,2,3,4,5)
len(tpl)

5

### (5) sorted로 정렬하기

Tuple 내에 있는 원소를 정렬합니다.

In [49]:
tpl = (1,2,3,4,5)
id(tpl)

4558841024

In [50]:
s_tpl = sorted(tpl) # 주의! List로 반환
id_stple

NameError: name 'id_stple' is not defined

#  

---

    Copyright(c) 2019 by Public AI. All rights reserved.
    Writen by PAI, SeonYoul Choi ( Best10@publicai.co.kr )  last updated on 2019/02/24

---