 <i><b>Public AI</b></i>
<br>
### **&nbsp;&nbsp;Week1. Python 기본기 다지기**
# Section 4. Python의 자료구조 (2) Set과 Dictionary

Section3에서는 Python이 지원하는 자료구조 중 가장 기본적인 list와 tuple에 대해 배워보았습니다.

이번 Section4에서는 그 중에서 Set형 자료구조 및 Dictionary형 자료구조의 개념을 이해한 후, 기본적인 조작 방법에 대해 살펴보겠습니다.

### _Objective_
1. **Set** : 집합 자료형의 개념을 이해하고, 생성, 읽기, 수정, 제거하는 방법을 배워봅니다. 
2. **Dict** : 사전 자료형의 개념을 이해하고, 생성, 읽기, 제거하는 방법을 배워봅니다.

# \[1. Set \]

set(집합)은 list나 tuple과 유사하게 여러개의 객체를 담을 수 있는 자료구조이며, **중복을 허용하지 않으며**, **순서가 없다**는 특징을 가집니다.

## 1. Set의 특징 및 조작 방법

+ 중복을 허용하지 않는 set의 특징 덕분에 데이터의 중복을 제거하기 위한 수단으로 자주 쓰입니다.<br> 
+ 대신 Set은 순서가 없기 때문에 list처럼 인덱싱으로 값을 얻을 수 없습니다. <br>

### (1) Set 생성하기

Set 역시 `=`을 이용해 변수를 생성하되, `{`와 `}`로 감싸주거나 `set()` 로 생성해야 합니다. set 내에는 숫자 뿐 아니라 다양한 타입의 변수를 담을 수 있습니다.

In [1]:
# 비어있는 Set를 생성
set0 = set()
set0

set()

In [2]:
# 여러 값을 저장 가능하지만, 중복은 허용하지 않음
set1 = {1,1,2,"2","text","text",3}
set1

{1, 2, '2', 3, 'text'}

In [3]:
# set은 list나 tuple과 다르게, set 안에 list를 넣지 못함
set2 = {1,2,[1,2,3]}

TypeError: unhashable type: 'list'

In [ ]:
# 하지만 tuple은 set에 추가가 가능합니다.
set2 = {1,2,(1,2,3)}

### (2) Set을 구성하는 값 가져오기 - 불가능!
set에는 순서가 없기 때문에 index를 통해 값을 가져올 수 없습니다. 하지만 값이 있는지는 `in`으로  확인할 수 있습니다.

In [4]:
set1 = {1,1,2,"2","text","text",3}
set1[0]

TypeError: 'set' object does not support indexing

In [5]:
set1 = {1,2,3,4,5}
print('6 in set1?', 6 in set1)
print('1 in set1?', 1 in set1)

6 in set1? False
1 in set1? True

### (3) Set에 값 추가하기
Set는 `add()`와 `update()` 를 통해 값을 추가할 수 있습니다.

In [6]:
set1 = {1,2,3,4,5}

In [7]:
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

In [8]:
set1.update({7,8,9}) # 여러 개의 값을 추가할 때에는 update를 이용
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### (4) Set의 특정 원소 제거하기
`remove()`를 이용하여 값을 제거할 수 있습니다.

In [9]:
set1 = {1,2,3,4,5}

In [10]:
# remove를 이용하여 set내의 4 를 제거하기
# *주의 : 만약 remove(#) : # 의 값이 set에 존재하지 않을 경우 ValueError 가 발생
set1.remove(4)
set1

{1, 2, 3, 5}

## 2. Set의 연산자 및 함수


+ set(집합)은 그 이름답게, 집합에 관련된 연산들이 구현되어 있습니다.
+ 집합에 해당하는 연산들은 아래와 같습니다.

| 연산 | 설명 |
| --- | --- |
| $&$   | 교집합(두 집합에 공통으로 포함된 원소) |
| $|$   | 합집합(두 집합의 모든 원소) |
| A-B   | 차집합(A와 B의 교집합을 제외한 A의 원소) |
| $^$   | 여집합(합집합에서 교집합을 뺀 모든 원소)|

In [11]:
A = {1,2,3,5}
B = {3,5,6,8,9}

### (1) 교집합
A와 B의 공통 원소를 반환합니다.

In [12]:
A & B

{3, 5}

### (2) 합집합
A와 B의 모든 원소를 반환합니다.

In [13]:
A | B

{1, 2, 3, 5, 6, 8, 9}

### (3) 차집합
A집합에서 A와 B의 교집합을 제외한 원소를 반환합니다.

In [14]:
A - B

{1, 2}

### (4) 여집합
A와 B의 합집합에서 교집합을 뺀 모든 원소를 반환합니다.

In [15]:
A ^ B

{1, 2, 6, 8, 9}

In [16]:
set1 = {1,2,3,4,5}
len(set1)

5

### (5) len으로 크기 재기
Set 안에 있는 원소의 수를 반환합니다.

In [17]:
set1 = {1,2,3,4,5}
len(set1)

5

### (6) sorted로 정렬하기
Set 내에 있는 원소를 정렬합니다.

In [18]:
set1 = {1,2,3,4,5}
sorted(set1) #List 타입으로 반환

[1, 2, 3, 4, 5]

# \[ 2. Dictionary \]

Dictionary(dict, 딕셔너리) 자료형은 **키와 값**을 한 쌍으로 가지는 자료형입니다.

## 1. Dictionary의 생성과 원소

+ Dictionary 앞서 변수 생성시에 사용했던 `=`을 동일하게 사용하되, `{key: value}` 혹은 `dict()`으로 생성합니다.
+ Dictionary 저장된 자료는 순서가 없고 키는 set과 같이 중복을 허용하지 않습니다.
+ Value 안에는 list나 tuple, dict 등이 들어갈 수 있습니다.
+ List에서는 index로 원하는 위치의 값에 접근했다면, Dictionary에서는 key를 이용해서 데이터를 찾을 수 있습니다.<br>
+ list의 index는 정수여야 하는 반면, dictionary의 key에는 모든 타입을 쓸 수 있습니다.

### (1) Dictionary 생성하기
Dictionary는 `{key: value}` 혹은 `dict()`으로 생성합니다. Dictionary의 **key**와 **value**에는 숫자 뿐 아니라 다양한 타입의 변수를 담을 수 있습니다.

In [19]:
# 비어있는 dict를 생성
dict0 = {} #
dict0 = dict()
dict0

{}

In [20]:
# 여러개의 key와 value들을 저장
dict1 = {'1':'a',
        '2':'b',
        '3':1,
        'c':'test'}
dict1

{'1': 'a', '2': 'b', '3': 1, 'c': 'test'}

In [21]:
# dict의 value 안에는 list나 tuple, dict 등이 들어갈 수 있음
dict1 = {'1':'a',
        '2':[1,2,3,4],
        '3':(1,2,3),
        'c':{1:'1',2:'2'}}
dict1

{'1': 'a', '2': [1, 2, 3, 4], '3': (1, 2, 3), 'c': {1: '1', 2: '2'}}

### (2) Dictionary에서 값 얻기

Dictionary 뒤의 대괄호에 key값을 넣어 가져옵니다.

In [22]:
dict1 = {"1":"a",
         "2":"b",
         "3":4}

In [23]:
dict1['1']

'a'

In [24]:
dict1[3] # 문자열과 정수형은 구분해야 함

KeyError: 3

`in` 연산자로 해당 값이 `key`로 있는지 확인할 수 있습니다.

In [25]:
"1" in dict1

True

In [26]:
3 in dict1

False

Dictionary내에 있는 value중에 list가 있다면, list의 특정 위치에 있는 원소는 index로 가져올 수 있습니다.

In [27]:
dict1 = {'1':'a',
        '2':[1,2,3,4],
        '3':(1,2,3),
        'c':{1:'1',2:'2'}}
dict1['2'][0] # dict1의 key값이 2인 list의 0번째 인덱스 값을 가져옴

1

### (3) Dictionary에 값 추가 혹은 변경하기
값을 추가 혹은 변경할 key를 설정하고, 새로운 값을 할당합니다.

In [28]:
dict2 = {"1":"a","2":"b","3":"4"}

In [29]:
# dict2의 key '4'에 'hello'를 추가
dict2['4'] = 'hello'
dict2

{'1': 'a', '2': 'b', '3': '4', '4': 'hello'}

In [30]:
# dict2의 key '1'에 'a' 대신 10으로 변경
dict2['1'] = 10
dict2

{'1': 10, '2': 'b', '3': '4', '4': 'hello'}

### (4) Dictionary의 특정 원소 제거하기
Dictionary 안에 있는 value를 지우는 방법에는 `del` 을 이용한 방법과 `.pop()`를 이용한 방법이 있습니다.

In [31]:
dict2 = {"1":"a","2":"b","3":"4"}

In [32]:
# del을 이용하여 '1'의 키 값을 가진 쌍 제거하기
del dict2['1']
dict2

{'2': 'b', '3': '4'}

In [33]:
# pop를 이용하여 '2'의 키 값을 가진 쌍 제거하기
# *주의 : 만약 pop(#) : # 의 값이 dict에 존재하지 않을 경우 ValueError 가 발생합니다.
dict2.pop('2')
dict2

{'3': '4'}

## 2. Dictionary의 연산자 및 함수

+ Dictionary는 list와 tuple에서 사용하는 연산자 `+`와 `*`나 함수 `zip`을 쓸 수 없습니다. 
+ 내장형 함수를 이용하여 dictionary의 길이를 측정하거나(`len()`) key를 정렬할 수 있습니다(`sorted()`).

### (1) len으로 크기 재기
Dictionary 안에 몇 개의 **key**가 있는지 반환합니다.

In [34]:
dict1 = {1:2,2:[3,4,5]}
len(dict1)

2

### (2) sorted로 정렬하기

Dictionary의 key만을 정렬하며 list로 반환됩니다.

In [35]:
dict1 = {1:2,2:[3,4,5]}
sorted(dict1,reverse=True)

[2, 1]

#  

---

    Copyright(c) 2019 by Public AI. All rights reserved.
    Writen by PAI, SeonYoul Choi ( Best10@publicai.co.kr )  last updated on 2019/02/24
---